/* Reset Styles */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html,
body {
    background-color: #121212;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

svg {
    display: block;
    overflow: hidden;
}

button {
    background-color: transparent;
    appearance: none;
}

u {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header {
    width: 100%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    background-color: #2a2a2a;
    height: 50px;
}

.left-nav {
    font-size: 11px;
    color: #cccccc;
    display: flex;
    width: 350px;
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.egs-logo {
    align-content: center;
    width: 35px;
    height: 35px;
}

.links {
    margin: 20px auto;
    display: flex;
}

.right-nav {
    font-size: 10px;
    display: flex;
    gap: 50px;
    color: #cccccc;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 325px;
}

.login-btn {

}

.profile {
    gap: 10px;
    align-items: center;
    display: flex;
}

.language {

}

.content {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
}

.main-box {
    margin: 0 auto;
    width: 1100px;
}

.search {
    gap: 30px;
    display: flex;
    align-items: center;

    width: 450px;
    height: 100px;
}

.search-box {
    border-radius: 200px;
    background-color: #202020;
    width: 150px;
    height: 40px;
}

.content-links {
    font-size: 12px;
    color: #f5f5f5;
}

.preview {
    display: flex;
    height: 550px;
    width: 1100px;
}

.prev-img {
    width: 800px;
    height: 450px;
}

.preview-games {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    width: 650px;
}

.preview-img {
    position: relative;
    border-radius: 15px;
    top: -55px;
    width: 875px;
    height: 600px;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 47%;
    left: 15%;
    color: #d2d2d2;
}

.game-info {
    font-size: 14px;
}

.game-subinfo {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
}

.try-button {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121212;
    border-radius: 4px;
    background-color: #d2d2d2;
    height: 50px;
    width: 150px;
}

.preview-games {
    height: 450px;
    display: flex;
}

.games-list {
    margin-top: 5px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 200px;
}

.game-card {
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    height: 60px;
    width: 170px;
}

.game-title {
    font-size: 13px;
    line-height: 1.5;
    color: #d2d2d2;
}

.card {
    height: 55px;
}

.wishlist {

}

.wishlist-content {
    width: 1100px;
    height: 450px;
}

.now-btns {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.wishlist-buttons {
    display: flex;
    gap: 10px;
}

.wishlist-buttonleft {
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    width: 30px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
}

.wishlist-buttonright {
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    width: 30px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
}

.wishlist-now {
    font-size: 18px;
    color: #cccccc;
}

.wishlist-cards {
    display: flex;
    justify-content: space-between;
}

.wishlist-card {
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 350px;
}

.wishlist-img {
    height: 550px;
    width: 205px;
}

.wishlist-info {
    gap: 10px;
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.wishlist-title {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    color: #cccccc;
    font-size: 14px;
}

.wishlist-price {
    color: #cccccc;
}

.fortnite {

}

.fortnite-content {
    width: 1100px;
    height: 520px;
}

.fortnite-cards {
    display: flex;
    justify-content: space-between;
}

.fortnite-card {
    height: 350px;
    width: 540px;
}

.fortnite-image {

}

.fortnite-img {
    height: 350px;
    width: 550px;
}

.fortnite-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 50px;
    gap: 15px;
}

.fortnite-info {
    color: #cccccc;
    width: 550px;
    height: 25px;
}

.fortnite-subinfo {
    color: #5a5a5a;
    width: 550px;
    height: 25px;
}

.fortnite-more {
    color: #cccccc;
    display: flex;
    margin-left: 10px;
    margin-top: 50px;
    width: 100px;
    height: 25px;
}

.free-games {
    background-color: #2a2a2a;
    height: 475px;
    width: 1100px;
}

.free-games {
    border-radius: 8px;
}

.free-content {
    height: 500px;
    width: 1100px;
    padding: 20px;
}

.free-about {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1050px;
    height: 40px;
}

.free-gms {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}

.free-view {
    display: flex;
    height: 35px;
    width: 110px;
    align-items: center;
    border:1px solid white;
    border-radius: 3px;
}

.free-name {
    font-size: 13px;
    color: white;
    margin-left: 17px;
}

.free-cards {
    height: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.free-card {
    height: 400px;
    width: 520px;
}

.free-img {
    border-radius: 8px;
    height: 300px;
    width: 520px;
}

.free-cardtitle1 {
    border-radius: 0 0 8px 8px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top: -25px;
    background-color: #0074e4;
    height: 30px;
    width: 520px;
}

.free-cardtitle2 {
    border-radius: 0 0 8px 8px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top: -25px;
    background-color: black;
    height: 30px;
    width: 520px;
}

.free-title {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 520px;
    height: 50px;
}

.free-info {
    color: #cccccc;
    height: 25px;
}

.free-subinfo1 {
    color: #6a6a6a;
    height: 25px;
}

.free-subinfo2 {
    color: #cccccc;
    display: flex;
    justify-content: center;
    height: 25px;
}

.editors-choice {
    margin-top: 60px;
    width: 1100px;
    height: 450px;
}

.editors-navigation {
    height: 100px;
    width: 1100px;
}

.editors-cards {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 500px;
}

.editors-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editors-image {
    height: 250px;
    width: 170px;
    border-radius: 2px;
}

.editors-title {
    color: white;
}

.editors-label {
    display: flex;
    font-size: 12px;
    justify-content: center;
    color: white;
    width: 40px;
    border-radius: 4px;
    background-color: #2a2a2a;
}

.editors-price {
    color: white;
}

.releases {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    height: 600px;
    width: 600px;
}

.new-releases {
    border-right: 1px double #2a2a2a;
    width: 400px;
    height: 570px;
}

.nav-releases {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.theme-releases {
    font-size: 20px;
}

.button-releases {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px double white;
    width: 95px;
    height: 35px;
    font-size: 8px;
    border-radius: 4px;
}

.top-releases {
    width: 350px;
    height: 650px;
}

.soon-releases {
    width: 350px;
    height: 650px;
}

.nav-releases {
    width: 350px;
    height: 50px;
}

.cards-releases {
    width: 350px;
    height: 450px;
}

.editors-cards {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 500px;
}

.card-releases {
    padding: 3px 0 0 15px;
    display: flex;
    gap: 5px;
}

.image-releases {
    height: 80px;
    width: 65px;
    border-radius: 6px;
}

.gameinfo-releases {
    gap: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100px;
}

.title-releases {
    color: white;
}

.FUCK {
    height: 15px;
    display: flex;
    gap: 10px;
}

.label-releases {
    display: flex;
    font-size: 12px;
    justify-content: center;
    color: white;
    width: 40px;
    height: 16px;
    border-radius: 4px;
    background-color: #0074e4;
}

.price-releases {
    color: white;
}

.soon-releases {
    width: 400px;
    height: 570px;
}

.top-releases {
    border-right: 1px double #2a2a2a;
    width: 400px;
    height: 570px;
}

.ad {
    margin-top: -20px;
    width: 1100px;
    height: 550px;
}

.ad-cards {
    display: flex;
    gap: 30px;
    width: 1100px;
    height: 550px;
}

.card-advert {
    background-color: whitesmoke;
    border-radius: 16px;
    width: 540px;
    height: 300px;
}

.img-card {
    width: 540px;
    height: 300px;
}

.image-card {
    border-radius: 16px;
    width: 540px;
    height: 300px;
}

.title-advert {
    color: #d2d2d2;
    width: 500px;
    height: 50px;
}

.box-BLYATSKI {
    margin-top: 15px;
    margin-left: 20px;
    width: 550px;
    height: 50px;
}

.ad-info {
    color: #9a9a9a;
    margin-top: -15px;
    width: 550px;
    height: 50px;
}

.ad-more {
    color: #d2d2d2;
    width: 550px;
    height: 50px;
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 460px;
}

.promo-img {
    margin-top: -100px;
    margin-left: -10px;
    width: 650px;
    height: 360px;
}

.promo-info {
    margin-top: -70px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.promo-title {
    color: #d2d2d2;
    font-size: 22px;
}

.promo-subinfo {
    color: #6a6a6a;
    font-size: 14px;
}

.promo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #d2d2d2;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    margin-top: 40px;
}

.footer-footer {
    background-color: #2a2a2a;
}

.footer-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1100px;
    height: 420px;
}

.footer-upwrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px double #5a5a5a;
    width: 1100px;
    height: 250px;
}

.footer-botwrap {
    display: flex;
    width: 1100px;
    height: 220px;
}

.footer-upinfo {
    color: white;
    width: 550px;
    height: 220px;
}

.footer-buttons {
    display: flex;
    gap: 10px;
}

.footer-button {
    margin-top: 15px;
    background-color: #5a5a5a;
    width: 20px;
    height: 20px;
}

.footer-resources {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.footer-blockul {
    display: flex;
    font-size: 12px;
    flex-direction: column;
}

.footer-subinfo {
    width: 250px;
    height: 200px;
}

.footer-botinfo {
    width: 750px;
    height: 220px;
}

.bottom-text {
    margin-top: 20px;
    height: 65px;
    width: 750px;
    color: #5a5a5a;
    font-size: 12px;
}

.bottom-links {
    color: white;
    width: 300px;
    margin-top: 50px;
    display: flex;
}

.bottom-link {
    font-size: 10px;
    width: 160px;
    height: 20px;
}